html,body{
	background-color:#34495e;
}

a.btn-lg.btn-primary.ng-binding {
	background-color: #B0CF00;
	color: #ffffff;
	margin: 5px;


}

a.btn-lg.btn-primary:hover{
	background-color: #003B2B;
}

.info{
	font-family: 'Varela Round', sans-serif;
	margin-top: 5px;
}

h1,h3,h4{
	color: #ecf0f1;
	font-weight: 700px;
    margin: 15px auto 0;
  	padding: 5px 0px;
  	bottom: 0;

}
/*p {

	color: #003B2B; 
	padding: 5px 100px;
	font-weight: 700;
}*/

.fa.fa-github{
	font-size:60px;
	color:#f1c40f;
}

.fa.fa-linkedin{
	font-size:60px;
	margin-bottom: 20px;
	color:#f1c40f;
}

.fa.fa-github:hover{
	color: #333;
}

.fa.fa-linkedin:hover{
	/*color: #ffffff;*/
	color: #0077B5 ; 
}



/*form {
  margin-bottom: 0; }*/

.input-group {
  width: 750px; 
  margin: 15px auto 0;

}


#search {
	color: #ffffff;
    background-color: #3498db;
    border-color: #3498db;
    padding: 10px 19px;
    font-size: 17px;
    line-height: 1.471;
    border-radius: 6px;
}

#search:hover{
	background-color: #2980b9;
	border-color: #2980b9;
}

/*.table{
	width: 750px;
	margin: 15px auto 0px;
	padding: 5px 0px;
}*/

@media screen and (max-width: 1050px) {
  input[type="search"] {
    width: 100%; } }



/*Enlarge Wiki Logo*/
.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-15px;
    width:300px;
    margin: 15px auto 0;
    height:auto;
    display:block;
    z-index:999;
}

/*.col-xs-12{
	width: 100%;
	float: left;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}*/
.results {

    padding-right: 150px;
    padding-left: 150px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.list-items {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #7f8c8d;
    border: 1px solid white;
}
 
 .title{
	color: #ecf0f1;
 }
 .text-body{
 	color: #ecf0f1;
 }

#reset{
	background: #e74c3c;
}
#reset:hover{
	background: #c0392b;
}
a:link {
    text-decoration: none;
}
.list-items:hover  {
    text-decoration: none;
    background-color: #2980b9;
    border-color: #2980b9;
}