<!DOCTYPE html>
<html ng-app="wikiApp" ng-controller="wikiCtrl">
<head>
	<meta charset="UTF-8" />
	<title>Wikipedia Search</title>

	<!-- JS Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script 
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script 
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js">
	</script> 
	<script src="js/wikiviewer.js"></script>


	<!-- CSS files-->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body class="text-center">
	<h1>{{wikiInfo.heading}}</h1><br>
	 <a href="https://en.wikipedia.org/wiki/Special:Random" target="_blank">
    <img class="thumbnail" src="https://upload.wikimedia.org/wikipedia/en/thumb/8/80/Wikipedia-logo-v2.svg/1122px-Wikipedia-logo-v2.svg.png"  height="250" alt="Click For Random Article" />
  </a>
	<div>
		<a class="btn-lg" 
		ng-href="{{wikiInfo.subHeading2.githubprofile}}" 
		target="blank" title="Yacub93"><i class="fa fa-github"></i></a>

		<a class="btn-lg" 
		ng-href="{{wikiInfo.subHeading2.linkedinprofile}}" 
		target="blank" title="Yacub Ali"><i class="fa fa-linkedin"></i></a>
	</div>
		<ng-form class="ng-pristine ng-valid" autocomplete="off">
			<div class="input-group" >
			  <input id="searchTerm" type="text" ng-model="formData.searchTerm" class="form-control" placeholder="Search..." autofocus />
				  <button  style="display: none;" id="reset" class="btn btn-danger" ng-click="reset()">
				 	<i class="fa fa-times"></i>
			      </button>
			</div> 
			<br>
			  <button style="width: 300px" id="search" class="btn btn-primary" ng-click="search(formData.searchTerm)">
			 	<i class="fa fa-search"></i>
			  	Search
		      </button>
		     
		</ng-form>
		
		<div class="results">
		<br>
		    <ul><!-- ngRepeat: result in results -->
		    <a ng-href="{{result.page}}" target='_blank' ng-repeat="result in results">
		        <li class="list-items item">
					<h2 class="title">{{result.title}}</h1>
					<p class="text-body">{{result.body}}</p>
					<!-- <img height="100px" ng-src="{{result.image}}"> -->
		        </li>
		    </ul>
		</div>
	</div>
</div>	

<script>
$(function(){
    // Hide submit button if field is empty
    $('#searchTerm').keyup(function(){
        if($('#searchTerm').val() == ""){
            $('#reset').hide();
        }
        else {
            $('#reset').show();
        }
    });
});


</script>

</body>
</html>
